#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: #ffff;
  border: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
}

#nav-menu-popup {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
}

#nav-menu-popup.open {
  opacity: 1;
  z-index: 999;
}